.container {
  background-color: white;
}


#Mermaid {
float: left;
margin-top: 8px;
}


#Heart {
  float: right;
  margin-top: 17px;

}

#Lives {
  float:right;
  margin-top:13px;
  padding-left: 5px;

}

h5 {
  font-family: 'Alegreya';
  font-size: 22px;
}
